player-connection-mode=Listen
player-connection-guid=861589473
player-connection-debug=0
player-connection-project-name=Project: Logistics
player-connection-ip=192.168.0.195
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=783a27c8f3de44ad8cb63421b7c15fda
